homeassistant/home-assistant.log
homeassistant/home-assistant_v2.db
homeassistant/secrets.yaml
homeassistant/known_devices.yaml
homeassistant/*.bak
homeassistant/OZW_Log.txt
homeassistant/.storage
organizr/log/nginx/access.log
